.ipynb_checkpoints
*.pyc
__pycache__/
*.pickle

preprocessed_data/*
!preprocessed_data/all/
!preprocessed_data/dev/
!preprocessed_data/test/
!preprocessed_data/training/

preprocessed_data/all/*
preprocessed_data/dev/*
preprocessed_data/test/*
preprocessed_data/training/*


!preprocessed_data/all/*sample*
!preprocessed_data/dev/*sample*
!preprocessed_data/test/*sample*
!preprocessed_data/training/*sample*

